-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
playercount=len(purchase_data.SN.unique())
playercount_df=pd.DataFrame({"player_count":[playercount]})
playercount_df

   player_count
0           576

In [5]:
purchase_data.columns = purchase_data.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [6]:
purchase_data.head()

,purchase_id,sn,age,gender,item_id,item_name,price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
unitems=len(purchase_data.item_id.unique())

In [8]:
avgprice=purchase_data.price.mean()

totalsold=purchase_data.price.sum()
totalcount=purchase_data.item_id.count()
totalcount

780

In [9]:
summarydf = pd.DataFrame({"Number of Unique Items":[unitems],
                                             "Average Purchase Price":[avgprice],
                                            "Total Number of Purchases":[totalcount],
                                             "Total Revenue":[totalsold]})
summarydf

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,3.050987,780,2379.77

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
totalgender=purchase_data.gender.count()
totalgender
totalmale=purchase_data.gender.value_counts()['Male']
totalmale
totalfemale=purchase_data.gender.value_counts()['Female']
totalfemale
rest=totalgender-totalmale-totalfemale
rest
male=totalmale/totalgender*100
female=totalfemale/totalgender*100
Non=rest/totalgender*100

In [11]:
Gender = pd.DataFrame({"": ['Male', 'Female', 'Other/Non-Disclosed'],
                            "Total Count": [totalmale, totalfemale, rest],
                            "Percentage": [male, female, Non],
                            })
Gender["Percentage"] = Gender["Percentage"].map("{:.2f}%".format)
Gender

                        Total Count Percentage
0                 Male          652     83.59%
1               Female          113     14.49%
2  Other/Non-Disclosed           15      1.92%

In [ ]:
grouped=purchase_data.groupby(["gender"])
grouped.head()

purCount = grouped["sn"].count()
purPrice = grouped["price"].mean()
purtotal = grouped["price"].sum()

In [ ]:

Purchuse_summary = pd.DataFrame({"Count": purCount,
                              "Price": purPrice,
                              "Total  Value": purtotal,
                              })
Purchuse_summary

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
bins = [0,10,15,20,25,30,35,40,100]
binLab = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']
bin = purchase_data.copy()
bin["Age Groups"] = pd.cut(bin["age"], bins, labels=binLab)
group = bin.groupby(["Age Groups"])
bincount = group_bin["sn"].count()
totalcount = purchase_data["sn"].count()
percentage = (bincount / totalcount) * 100
Age = pd.DataFrame({"Total Count": bincount,
                         "Percentage": percentage})
Age

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
purchase_data.head()

In [ ]:
bins = [0,10,15,20,25,30,35,40,200]
binLab = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

# Add bins to new dataframe and groupby
bin_df = purchase_data.copy()
bin_df["Age Groups"] = pd.cut(bin_df["age"], bins, labels=binLab)
binColumn = pd.cut(bin_df["age"], bins, labels=binLab)
grouped_bin = bin_df.groupby(["Age Groups"])

# Data Manipulation
binPCount = grouped_bin["age"].count()
binPAver = grouped_bin["price"].mean()
binPTotal = grouped_bin["price"].sum()

# Normalize data by deleting duplicates for new counts
binduplicate = purchase_data.drop_duplicates(subset='sn', keep="first")
binduplicate["Age Groups"] = pd.cut(binduplicate["age"], bins, labels=binLab)
binduplicate = binduplicate.groupby(["Age Groups"])

binNorm = (grouped_bin["price"].sum() / binduplicate["sn"].count())
binNorm

# Create new DF and format
Age_DF = pd.DataFrame({"Purchase Count": binPCount,
                         "Average Purchase Price": binPAver,
                         "Total ": binPTotal,
                         "Normalized Totals": binningNorm})
Age_DF

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
sngroup = purchase_data.groupby(["sn"])
groupcount = sngroup["item_id"].count()
grouptotal = sngroup["price"].sum()
groupaverage = (grouptotal / groupcount)

# Build DF and format
top_spender = pd.DataFrame({"Purchase Count":groupcount,
                         "Average Purchase Price": groupaverage,
                         "Total Purchase Value": grouptotal})
top_spender = top_spender.sort_values("Total Purchase Value", ascending=False) 
top_spender.head(1)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
groupbyitem = purchase_data.groupby(["item_id", "item_name"])
groupcount= groupbyitem["sn"].count()
pricesum = groupbyitem["price"].sum()
groupavg = (pricesum / groupcount)
item = (groupavg * groupcount)

# New DF with formatting
most_popular = pd.DataFrame({"Purchase Count": groupcount,
                          "Item Price": groupavg,
                          "Total Purchase Value": item})

most_popular = most_popular.sort_values("Purchase Count", ascending=False) 
most_popular["Item Price"] = most_popular["Item Price"].map("${:.2f}".format)
most_popular["Total Purchase Value"] = most_popular["Total Purchase Value"].map("${:.2f}".format)
most_popular =most_popular[["Purchase Count", "Item Price", "Total Purchase Value"]]
most_popular.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
groupbyitem = purchase_data.groupby(["item_id", "item_name"])
groupcount= groupbyitem["sn"].count()
pricesum = groupbyitem["price"].sum()
groupavg = (pricesum / groupcount)


most_value = pd.DataFrame({"Purchase Count": groupcount,
                          "Item Price": groupavg,
                          "Total Purchase Value": pricesum})
most_value = most_value.sort_values("Total Purchase Value", ascending=False) 
most_value